<ion-content class="btn-container">

    <ion-header class="ion-margin-bottom">
        <ion-toolbar color="primary">
            <ion-title>Ingreso</ion-title>
        </ion-toolbar>
    </ion-header>


    <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Ingrese su celular o código asignado: </ion-label>
        <ion-input [(ngModel)]="celular" type="number"></ion-input>
    </ion-item>

    <ion-button [disabled]="!celular" (click)="onClickReportarPresencia()" expand="block" fill="outline">Reportar Presencia</ion-button>
    <ion-button [disabled]="!celular" (click)="onClickIngresar()" expand="block">Ingresar</ion-button>


    <ion-button href="https://www.youtube.com/watch?v=aYOXFNVpkSc&feature=youtu.be" style="margin-top: 50px" expand="block" fill="outline">
        Tutorial
    </ion-button>




</ion-content>