<ion-content style="margin: 15px" class="btn-container">

    <ion-header class="ion-margin-bottom">
        <ion-toolbar color="primary">
            <ion-title>Ingreso resultados</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Seleccione una mesa: </ion-label>
        <ion-select>
            <ion-select-option *ngFor="let m of mesas | async" [value]="m">
                {{ m.descripcion }}
            </ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Seleccione una categoria: </ion-label>
        <ion-select>
            <ion-select-option *ngFor="let c of categorias | async" [value]="c">
                {{ c.descripcion }}
            </ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Ingrese cantidad de votos: </ion-label>
        <!--  [(ngValue)]="resultado" -->
        <ion-input type="number"></ion-input>


    </ion-item>


    <ion-button expand="full">Confirmar</ion-button>
    



</ion-content>