<ion-content style="margin: 15px" class="btn-container">

    <ion-header class="ion-margin-bottom">
        <ion-toolbar color="primary">
            <ion-title>Ingreso resultados</ion-title>
        </ion-toolbar>
    </ion-header>


    <!-- <ion-item-divider> -->
    <div class="divider">
        <span>
            Seleccione mesa y categoria
        </span>
    </div>

    <div class="select-container">
        <ion-item class="ion-margin-bottom">
            <ion-label position="floating">Seleccione una mesa: </ion-label>
            <ion-select [(ngModel)]="mesa" (ngModelChange)="onChangeMesa($event)">
                <ion-select-option *ngFor="let m of mesas | async" [value]="m">
                    {{ m.descripcion }}
                </ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item class="ion-margin-bottom">
            <ion-label position="floating">Seleccione una categoria: </ion-label>
            <ion-select [(ngModel)]="categoria" (ngModelChange)="onChangeCategoria($event)">
                <ion-select-option *ngFor="let c of categorias | async" [value]="c">
                    {{ c.descripcion }}
                </ion-select-option>
            </ion-select>
        </ion-item>
    </div>

    <div *ngIf="mesasCandidatos" class="divider">
        <span>
            Ingrese cantidad votos
        </span>
    </div>

    <div class="list-container">
        <ion-list>
            <div class="item-list" [ngStyle]="{ background: mc.candidato.color }" *ngFor="let mc of mesasCandidatos">
                <div class="item-list-content">
                    <ion-label [ngStyle]="{ background: mc.candidato.color }" position="floating">
                        {{ mc.candidato.nombre }}
                    </ion-label>
                    <ion-input [(ngModel)]="mc.cantidadVotos" type="number"></ion-input>
                </div>
                <div class="item-list-foto">
                    <!-- <img [src]="mc.candidato.urlimagen" width="93" height="93"> -->
                    <ion-avatar slot="end">
                        <img [src]="mc.candidato.urlimagen">
                    </ion-avatar>
                </div>
            </div>
        </ion-list>
    </div>

    <div *ngIf="true" class="divider">
        <span>
            Saque una foto de la planilla (opcional)
        </span>
    </div>


    <div class="btn-camera-container">
        <ion-button [disabled]="fileCaptura" shape="round" size="large" (click)="onClickFoto()">
            <ion-icon slot="icon-only" name="camera"></ion-icon>
        </ion-button>
    </div>

    
    <ion-button *ngIf="!isSubmiting" (click)="onClickConfirmar()" expand="full">Confirmar</ion-button>
    <ion-button *ngIf="isSubmiting" disabled expand="full">
        <ion-spinner name="crescent"></ion-spinner>
    </ion-button>

</ion-content>