.divider {
    background: #89a9e0;
    padding: 6px;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.btn-camera-container {
    display: flex;
    justify-content: center;

    margin: 15px 0;

    // font-size: 1.5rem;

    // ion-icon {
    //     padding: 10px;
    // }
}