<ion-content style="margin: 15px">

    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Resumen de Resultados￼</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content id="content">

        <ion-item-divider>
            <ion-label>
                Filtros
            </ion-label>

            <ion-icon class="btn-eye" *ngIf="!showFiltros" (click)="showFiltros = !showFiltros" slot="end" name="eye">
            </ion-icon>
            <ion-icon class="btn-eye" *ngIf="showFiltros" (click)="showFiltros = !showFiltros" slot="end"
                name="eye-off"></ion-icon>
        </ion-item-divider>

        <div *ngIf="showFiltros" class="filtros-container">

            <ion-item class="ion-margin-bottom">
                <ion-label position="floating">Seleccione una categoria: </ion-label>
                <ion-select [compareWith]="compareSelect" [(ngModel)]="categoria" (ngModelChange)="refrescarLista()">
                    <ion-select-option *ngFor="let c of categorias | async" [value]="c">
                        {{ c.descripcion }}
                    </ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item class="ion-margin-bottom">
                <ion-label position="floating">Filtrar por mesa: </ion-label>

                <ion-input #inputMesa type="number"></ion-input>
                <ion-button (click)="onClickBuscarPorMesa(inputMesa)" slot="end">
                    <ion-icon slot="icon-only" name="search"></ion-icon>
                </ion-button>
                <ion-button (click)="onClickMesasTodas()" slot="end" fill="outline">
                    Todas
                </ion-button>
            </ion-item>

        </div>

        <ion-item-divider sticky>
            <ion-label>
                <span style="font-weight: bolder">Categoria:</span> {{ categoria ? categoria.descripcion : 'Todas' }}
            </ion-label>

            <ion-label slot="end" style="padding-right: calc(var(--padding-start) + var(--ion-safe-area-left, 0px));">
                <span style="font-weight: bolder">Mesa:</span> {{ mesa ? mesa.descripcion : 'Todas' }}
            </ion-label>
        </ion-item-divider>

        <div class="resultados-container">
            <ion-item *ngFor="let r of resultados | async">
                <ion-avatar slot="start">
                    <img [src]="r.urlImagen">
                </ion-avatar>
                <ion-label>
                    <h2>{{ r.candidatoNombre }}: <span>{{ r.porcentaje }}%</span></h2>
                    <p>{{ r.proyectados }} proyectados</p>
                </ion-label>
            </ion-item>
        </div>

    </ion-content>


</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-title>
            {{ puntosInformadosMsg }}
        </ion-title>
    </ion-toolbar>
</ion-footer>