<ion-content style="margin: 15px">

    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Resumen de Resultados￼</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content id="content">

        <ion-item-divider>
            <ion-label>
                Filtros
            </ion-label>

            <ion-icon class="btn-eye" *ngIf="!showFiltros" (click)="showFiltros = !showFiltros" slot="end" name="eye">
            </ion-icon>
            <ion-icon class="btn-eye" *ngIf="showFiltros" (click)="showFiltros = !showFiltros" slot="end"
                name="eye-off"></ion-icon>
        </ion-item-divider>

        <div *ngIf="showFiltros" class="filtros-container">

            <ion-item class="ion-margin-bottom">
                <ion-label position="floating">Seleccione una categoria: </ion-label>
                <ion-select [(ngModel)]="categoria" (ngModelChange)="refrescarLista()">
                    <ion-select-option *ngFor="let c of categorias | async" [value]="c.descripcion">
                        {{ c.descripcion }}
                    </ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item class="ion-margin-bottom">
                <ion-label position="floating" (ngModelChange)="refrescarLista()">Seleccione una mesa: </ion-label>
                <ion-select [(ngModel)]="mesa">
                    <ion-select-option *ngFor="let m of mesas | async" [value]="m.descripcion">
                        {{ m.descripcion }}
                    </ion-select-option>
                </ion-select>
            </ion-item>

        </div>

        <ion-item-divider sticky>
            <ion-label>
                <span style="font-weight: bolder">Categoria:</span> {{ categoria }}
            </ion-label>

            <ion-label slot="end" style="padding-right: calc(var(--padding-start) + var(--ion-safe-area-left, 0px));">
                <span style="font-weight: bolder">Mesa:</span> {{ mesa }}
            </ion-label>
        </ion-item-divider>

        <div class="resultados-container">
            <ion-item *ngFor="let r of resultados | async">
                <ion-avatar slot="start">
                    <img [src]="r.urlImagen">
                </ion-avatar>
                <ion-label>
                    <h2>{{ r.candidatoNombre }}: <span>{{ r.porcentaje }}%</span></h2>
                    <p>{{ r.contados }} contados</p>
                    <p>{{ r.proyectados }} proyectados</p>
                </ion-label>
            </ion-item>
        </div>

    </ion-content>


</ion-content>